body {
  min-height: 100vh;
  font-family: "Arimo";

  #app.bg-clear {
    background: url(/images/WeatherBackground/clear.webp) center/cover no-repeat
      fixed;
  }

  #app.bg-clouds {
    background: url(/images/weatherBackground/clouds.webp) center/cover
      no-repeat fixed;
  }

  #app.bg-rain {
    background: linear-gradient(#4b79a1, #283e51);
  }

  #app.bg-snow {
    background: url(/images/weatherBackground/snow.webp) center/cover no-repeat
      fixed;
  }

  #app.bg-default {
    background: url(/images/weatherBackground/default.webp) center/cover
      no-repeat fixed;
    @include overlay;
  }

  #app.bg-none {
    background: url(/images/weatherBackground/default.webp) center/cover
      no-repeat fixed;
    @include overlay-background;
  }
}
