// Leaflet custom map elements //

:deep(.popup-content) {
  text-align: center;
  padding: 0.5rem;
  @include card;
}

:deep(.leaflet-popup-content-wrapper) {
  @include card;
}

:deep(.popup-content h3) {
  margin: 0 0 0.5rem 0;
  color: #667eea;
  font-size: 1.2rem;
}

:deep(.weather-info) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  margin: 1rem 0;
}

:deep(.weather-icon) {
  font-size: 2.5rem;
}

:deep(.weather-details) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;
}

:deep(.weather-text) {
  font-weight: 600;
  color: black;
}

:deep(.weather-temp) {
  font-size: 1.3rem;
  font-weight: 700;
  color: #667eea;
}

:deep(.weather-desc) {
  font-size: 0.9rem;
  color: black;
  font-style: italic;
  text-transform: capitalize;
}

:deep(.extra-info) {
  padding: 0.5rem;
  border-radius: 8px;
  margin: 1rem 0;
  font-size: 0.9rem;
}

:deep(.extra-info p) {
  margin: 0.3rem 0;
  color: black;
}

:deep(.leaflet-popup-close-button) {
  display: none;
}

:deep(.leaflet-control-zoom-in),
:deep(.leaflet-control-zoom-out) {
  @include card;
}
