.spinner {
  text-align: center;
  color: black;
  margin-top: 20%;

  .spinner-circle {
    width: 50px;
    height: 50px;
    border: 5px solid rgb(255, 255, 255);
    border-top: 5px solid rgb(0, 0, 0);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto 1rem;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
